@import url('https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap');
@font-face {
    font-family: 'Gotham Narrow Book';
    src: url('../font/GothamNarrow-Book.eot');
    src: local('../font/Gotham Narrow Book'), local('GothamNarrow-Book'),
        url('../font/GothamNarrow-Book.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamNarrow-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('../font/GothamNarrow-Bold.eot');
    src: local('../font/Gotham Narrow Bold'), local('GothamNarrow-Bold'),
        url('../font/GothamNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('../font/GothamNarrow-Medium.eot');
    src: local('../font/Gotham Narrow Medium'), local('GothamNarrow-Medium'),
        url('../font/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamNarrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('../font/GothamXNarrow-Black.eot');
    src: local('../font/Gotham XNarrow Black'), local('GothamXNarrow-Black'),
        url('../font/GothamXNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamXNarrow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('../font/GothamNarrow-Black.eot');
    src: local('../font/Gotham Narrow Black'), local('GothamNarrow-Black'),
        url('../font/GothamNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamNarrow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('../font/GothamNarrow-Light.eot');
    src: local('../font/Gotham Narrow Light'), local('GothamNarrow-Light'),
        url('../font/GothamNarrow-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamNarrow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Ultra';
    src: url('../font/GothamNarrow-Ultra.eot');
    src: local('../font/Gotham Narrow Ultra'), local('GothamNarrow-Ultra'),
        url('../font/GothamNarrow-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamNarrow-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('../font/GothamNarrow-Thin.eot');
    src: local('../font/Gotham Narrow Thin'), local('GothamNarrow-Thin'),
        url('../font/GothamNarrow-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamNarrow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


body{padding: 0;margin: 0;box-sizing:border-box;font-family:"Gotham Narrow" !important;}
em{font-family: 'Aguafina Script', cursive;}
a:hover {
	text-decoration: none !important;
}
/***********navbar*************/
/* .navbar-new-top{
    background: #fff;
}
.navbar-brand{
    font-weight: 600;
} */
.last-side {
	display: flex;width:70%;float:right;padding-top: 30px;
}
.top-header {
	display: inline-block;
	width: 100%;
	padding: 20px 0;
}
.navbar.navbar-expand-md.bg-dark.navbar-dark {
	background: #9e2499 !important;padding:0px;
}
.bottom-header {
	width: 100%;
	display: inline-block;
}
.first-side {
	width: 20%;float:left;

}
ul{padding: 0;}
li {
	list-style: none;
}
.logo img {
	width: 100%;
}
#collapsibleNavbar {
	margin-left: 50px;
}
.navbar-brand img{
    width: 100%;
}
.navbar-new-top ul {
	padding-left: 0px;
	list-style: none;
	float: left;margin-right: 20px;
}
.navbar-new-top ul li {
	margin-right: 8%;width:100%;
	text-align: right;
}

.navbar-new-bottom ul li{
    margin-right: 2%;
}
.navbar-nav.w-100.justify-content-center.px-3 {
	padding: 0 !important;
}
.nav-item.active {
	background: #ff5241;
}
.navbar-nav .nav-item a {
    color: white !important;
    font-size: 18px;
    font-weight: 300;
    transition: 1s ease;cursor: pointer;
}
.navbar-nav .nav-item a:hover{
    color: white;
}


/******search****/
.outer {
    display: inherit;
   position:relative;border: 1px solid #dfdfdf;height: 30px;
}
/* .outer::after {
	position: absolute;
	content: "";
	background-image: url("../images/header-social-icon-6.png");
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	right: 0;
} */
.outer select {
	border:0;
	-moz-appearance: none;
	-webkit-appearance: none;
	color: #9a9a9a;
	font-weight: 300;
	font-size: 12px;
	
}
#social-6 {
	border: 1px solid #dfdfdf;
	width: 20px;
	text-align: center;
}
#social-5 {
	margin-left: 10px;
}
.icon-second-last {
	margin: 0 10px;
}
sup {
	background: #ff5241;
	border-radius: 50%;
	padding: 9px 5px;
	color: white;
	height: 20px;
	width: 20px;
	text-align: center;
	float: right;
}
.form-inline.search-form {
	position: relative;margin-right: 20px;width:50%;
}
.form-inline .form-control {
	display: inline-block;
	width: 100% !important;border-radius: 0 !important;
}
.form-group {
	width: 100%;
}
.bottom-header.mobile {
	display: none;
}
.form-inline.search-form .btn.btn-primary {
	background: none;
	border: 0;position:absolute;right:0px;
}
::placeholder {
	color: #9a9a9a !important;
	font-weight: 300;
}
.form-inline.search-form .btn.btn-primary:hover{
	background: none;
	border: 0;
}
.social-header li a {
	margin-right: 5px;
}
.plan-constructor__footer {
	position: relative;
	z-index: 5;
	width: 100%;
	padding: 40px 0 0;
	grid-area: footer;
}
 .plan-constructor__buy {
	min-width: 220px;
	background-color: #4792de;
}
.plan-constructor__buy:hover {
	background-color: #3792ee;
}
 .plan-constructor__buy {
	height: 40px;
	font-size: 16px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	line-height: 16px;
	max-width: calc(100% - 40px);
}
.button.pressed, .button:hover {
	color: #fff;
	background-color: #a4c732;
	text-decoration: none;
}
.animation-shake:hover {
	-webkit-animation: none;
	animation: none;
}
.button-ghost {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}
.plan-constructor__buy {
	display: table;
	margin: 0 auto;
	padding: 0 30px;
	font-weight: 700;
	line-height: 35px;
	letter-spacing: 0;
	border: none;
	border-radius: 20px;
	text-transform: none;
}

/************banner************/
.banner {
	text-align: center;
	background-image: url("../images/banner-image.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	min-height: 500px;
}
.baner-text h1 {
	padding-top: 100px;
	font-size: 60px;
}
.baner-text h1 span {
	color: #9e2499;
}
.baner-text h1 em {
	color: #ff5241;
}

/**************sonis************/
.sonis {
	padding: 50px 0;
}
h2 span {
	color: #9e2499;position:relative;
}
h2 span::after {
	position: absolute;
	content: "";
	border: 1px solid #ff5241;
	width: 50px;
	bottom: -4px;
	left: 26%;
	transform: translate(-50%);
}
.mdb-lightbox {
	display: flex;
	flex-wrap: wrap;
}
.heading {
	text-align: center;
	margin-bottom: 30px;
}
.text-sonis {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}
.text-sonis h5{
	color:white;font-weight:300;
}


/***********hair-evolution************/
.hair-evolution{
    background-image:url("../images/banner-evolution.png");
    background-size:cover;height:100%;min-height:400px;
    background-position:center;
}
.col-md-8.text-box h4 {
	padding-top: 25%;
	font-size: 35px;font-weight:400;
}
.orange-btn {
	background: #ff5241;
	border: 0;
	color: white;
	padding: 9px 20px;
	-webkit-animation:custom-shake 3s ease-in-out 6s infinite;
     animation:custom-shake 3s ease-in-out 6s infinite;
    -webkit-transform:translate(0) rotate(0deg); 
    -webkit-transform-origin:bottom;
    transform:translate(0) rotate(0deg); 
   transform-origin:bottom; 
}

.orange-btn:hover{
	background: #9e2499;
}
@-webkit-keyframes custom-shake {
    3% {
        -webkit-transform: translate(-3px) rotate(-3deg)
    }
    6% {
        -webkit-transform: translate(3px) rotate(3deg)
    }
    9% {
        -webkit-transform: translate(-3px) rotate(-3deg)
    }
    12% {
        -webkit-transform: translate(3px) rotate(3deg)
    }
    15% {
        -webkit-transform: translate(-3px) rotate(-3deg)
	}
}

/*********************** Demo - 8 *******************/
.box-main{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
.box-main img{width:100%;height:auto}
.box-main .box-content{width:100%;height:100%;background:#ffffffd6;
    text-align: center;padding-top: 30%;opacity:0;position:absolute;top:0;left:0;transform:perspective(400px) rotateX(-90deg)
    ;transform-origin:center top 0;transition:all .5s ease 0s}
.box-main:hover .box-content{opacity:1;transform:perspective(400px) rotateX(0)}
.instagram .container-fluid.mt-40 {
	padding: 0px;
	overflow: hidden;
	box-sizing: border-box;
}
.instagram .col-md-3 {
	padding: 0;
}

.instagram {
	padding: 80px 0 50px;
}
.text-center {
	margin-bottom: 50px;
}
.box-main  h5{
	color: #9e2499;
}

.box-main  h6{
	color: #ff5241;position:relative;
}
.box-main  h6::after {
	position: absolute;
	content: "";
	border: 1px solid #ff5241;
	width: 137px;
	left: 50%;
	transform: translate(-50%);
	bottom: -5px;
}
.box-main p {
	color: #646464;
	font-weight: 300;
}
/*********footer************/
.subscribe {
	padding-top: 50px;
}
.subscribe .form {
	display: flex;
	max-width: 80%;
	margin: 0 auto;
	width: 100%;
}
.subscribe .form span {
	width: 100%;padding-top: 1%;
}
.subscribe .form em {
	color: #9e2499;
}
.subscribe .form-group {
	margin-right: 10px;
	margin-bottom: 0;
}
.subscribe .form-control {
	border-radius: 2px;height: 50px;
}
.subscribe .btn.btn-primary {
	background: #ff5241;
	border: 0;
	border-radius: 2px;
	width: 50%;
	overflow: hidden;
	height: 50px;
}
footer {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 100px 0 0 0;
	margin: 0;
	background-image: url("../images/image_9.png");
}
.newsletter_vitamin_ovelay {
	top: -50px;
	max-width: 190px;
	right: 10px;position:absolute;
}
.newsletter_vitamin_ovelay img {
	width: 100%;
}
.footer-main {
	display: flex;
	display: -webkit-flex;
	margin: 150px -15px 75px;width:100%;
}
.footer-logo img {
	max-width: 70%;
}

.footer-bottom {
	display: block;
	overflow: hidden;
	background:#9e2499;text-align:center;padding:20px 0;
}
.copyright p {
	font-size: 15px;
	font-weight: 300;
	margin: 0;
}
footer .col-heading {
    position: relative; }
    footer .col-heading h5 {
      font-size: 20px;
      color: #9e2499;
      line-height: 25.6px;
      margin-bottom: 30px; }
      footer .col-heading h5::after {
        background: #ff5241;
        width: 30px;
        height: 3px;
        position: absolute;
        content: "";
        top: 40px;
        left: 29px;
        margin: 0 auto; }
    footer .col-heading .social-text {
      float: left;
      position: relative; }
      footer .col-heading .social-text li, footer .left li, footer .right li{
        list-style: none;
        line-height: 28px;
        padding: 0px 10px; }
      footer .col-heading .social-text a {
        color: #414141;
        font-size: 15px;
        padding: 0;font-weight:300;
		text-decoration: none; }
		footer .left {
			float: left; position: relative;width: 50%;
		}
		.liens {
			display: flex;
		}
		.liens a:hover, .liens  a:focus, .social-text a:hover, .social-text  a:focus,
		.navbar-nav a:hover  {
			opacity: 0.6;
		}
		footer .left a {
			color: #414141;
			font-size: 15px;
			padding: 0;font-weight:300;
			text-decoration: none; }
			footer .right {
				float: left; position: relative;width: 50%;
			}
			footer .right a {
				color: #414141;
				font-size: 14px;
				padding: 0;font-weight:300;
				text-decoration: none; }
				footer .left a::before, footer .right a::before {
					position: absolute;
					content: "";
					background-image: url(../images/icon-footer.png);
					width: 6px;
					height: 9px;
					left: 0px;
					line-height: 83px;
					margin-top: 10px; }
					
        footer .col-heading .social-text a::before {
          position: absolute;
          content: "";
          background-image: url(../images/icon-footer.png);
          width: 6px;
          height: 9px;
          left: 0px;
          line-height: 83px;
          margin-top: 10px; }
      
    footer .col-heading .social-footer {
      padding-left: 15px; }
      footer .col-heading .social-footer li {
        list-style: none; }

#copyright {
  width: 100%;
  display: block;
  overflow: hidden;
  text-align: center;
  background: #9e2499;
  padding: 20px 0px; }
  #copyright p {
    margin-bottom: 0px;
    color: #282828; }
	.icon-last {
		position: relative;
	}
@media screen and (max-width: 1199px) {
	.last-side {
		width: 75%;
		padding-top: 29px;
	}
	.social-header img, .social-footer img {
	
		max-width: 25px;width:100%;
	}
	sup {
		position: absolute !important;
		
	}
	.banner {
		min-height: 400px;
		background-position: top;
	}
	footer .col-heading h5 {
		font-size: 16px;
	}
}
@media screen and (max-width:1024px) {
	.container{max-width:95% !important;}
}
@media screen and (max-width: 991px) {
	#collapsibleNavbar {
		margin-left: 0;
	}
	.text-box h4 {
		font-size: 30px;
	}
	.subscribe .form {
		max-width: 100%;
	}
	.newsletter_vitamin_ovelay {
		top: 0;
	}
	footer {
		margin-top: 80px;
	}
	.social-header img, .social-footer img {
		max-width: 23px;
		width: 100%;
	}
}
@media screen and (max-width:768px) {
.navbar-nav .nav-item a {
	font-size: 13px;
}
.social-header {
	width: 49%;
}
}
@media screen and (max-width:767px) {
	.liens {
		display: block;
	}
	form h4 {
		text-align: center;
	}
	.newsletter_vitamin_ovelay {
		top: 71px;
		right: 0;
	}
	.subscribe .form {
		max-width: 100%;
		display: block;
	}
	.subscribe .form-group {
		width: 100%;
		margin-bottom: 20px;
	}
	.subscribe .btn.btn-primary {
			width: 100%;
	}
	.bottom-header.mobile {
		display: block;
	}
	.bottom-header {
		display: none;
	}
.mdb-lightbox {
	display: block;width: 100%;
	
}
figure img {
	width: 100%;
}
.box-main {
	margin-bottom: 30px;
}
.footer-main {
	display: block !important;margin: 100px -15px 75px;

}
footer .left, footer .right {
	float: left;
	width: 100%;
}
footer .col-heading {
	position: relative;
	display: block;
	width: 100%;
	float: left;
}
.box-main .box-content {
	padding-top: 50%;
}
.first-side {
	width: 100%;
	float: initial;
	display: block;
	text-align: center;
}
.logo img {
	width: 100%;
	max-width: 40%;
}
.last-side {
	width: 100%;
	padding-top: 29px;
}
.outer select {
	width: 100%;
}
.form-inline.search-form {
	width:48%;
	margin-bottom: 20px;
	float: left;
}
.social-header{
	display: inline-block;width:49%;text-align: center;
}
.outer {
width: 49%;height: 36px;
}
.social-header img, .social-footer img {
	max-width: 30px;
	width: 100%;
}
#social-6 {
	float: right;
}
.icon-second-last {
	margin: 0 10px;
	float: left;
}
#collapsibleNavbar {
	position: absolute;
	background: #ff5241;
	width: 100%;
	top: 60px;
	padding: 20px;
	z-index: 1;
	left: 0;
}
.navbar.navbar-expand-md.bg-dark.navbar-dark {
	padding: 10px 0;width: 100%;
}
}
@media screen and (max-width:599px) {
	/* .top-header .container {
		display: flex;flex-wrap:wrap;
	}
	.logo img {
		max-width: 40%;
		
	}
	.form-inline.search-form .btn.btn-primary {
		
		top: 0;
	}
	.first-side {
		width: 100%;
		float: initial;
		display: block;
		text-align: center;margin-right: 0px;
	}
	.icon-second-last, .icon-last {
		height: 26px;
	}
	.top-header {
		padding: 20px 0 0px 0px;
	}
	.social-header, sup {
		display: none;
	}
	.form-inline.search-form {
		width: 59%;
		margin-bottom: 20px;
		float: left;
	}
	.outer {
		width: auto;
		height: 36px;
	} */
	sup {
		display: none;
	}
	.social-header img, .social-footer img {
		max-width: 20px;
		width: 100%;
	}
	.col-md-8.text-box h4 {
		font-size: 20px;
	}
	.instagram {
		padding: 30px 0px;
	}
	.subscribe {
		padding-top: 0px;
	}
	footer {
		margin-top: 0px;background-position: 64%;
	}
	.newsletter_vitamin_ovelay {
		top: 68px;
	}
	.sonis {
		padding: 30px 0;
	}
	.last-side {
		display: block;margin-bottom: 30px;
	}
	.form-inline.search-form {
		width: 100%;
		margin-bottom: 20px;
		float: left;
	}
	.social-header {
		display: block;
		width: 100%;
		text-align: center;
		float: left;
	}
	
	.icon-second-last {
		float: left;
		width: auto;
	}
	.outer {
		width: 100%;
		height: 100%;
		float: left;
		max-width: 80%;
	}
	.outer select {
		width: 100%;
		max-width: 60%;
	}
	.icon-last {
		position: relative;
		float: left;
	}
	.social-header img, .social-footer img {
		max-width: 30px;
		width: 100%;
	}
	.form-group {
		margin-bottom: 0 !important;
	}
}

@media screen and (max-width:320px) {
	.outer {
		width: 100%;
		height: 100%;
		float: left;
		max-width: 70%;
	}
}